@model Product

<form asp-action="CreateProduct" method="post">



<div asp-validation-summary="All"></div>
<input type="text" asp-for="ProductName"/>
<span asp-validation-for="ProductName"></span>


</form>
