@model PersonelCreateViewModel


<form asp-action="Index"  method="post">


    <input type="text" asp-for="Adi"/>
    <input type="text" asp-for="SoyAdi"/>

    <button type="submit">Gönder</button>

</form>