

<email mail="bla" display="Deneme">

</email>


  <a asp-action="GetProduct" asp-controller="Product">Product</a> 

  @section SolMenu{
      <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
      </ul>
  }