<table class="table">

    <thead>
        <tr>
            <th scope="col"> Adı</th>
            <th scope="col"> SoyAdı</th>
        </tr>
    </thead>

    
    <tbody>
        <tr>
            <td scope="col"> Adı</td>
            <td scope="col"> SoyAdı</td>
        </tr>
    </tbody>
</table>