@model List<Personel>
<table class="table">

    <thead>
        <tr>
            <th scope="col"> Adı</th>
            <th scope="col"> SoyAdı</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="col"> @item.Adi</td>
                <td scope="col"> @item.SoyAdi</td>
            </tr>
        }
    </tbody>
</table>